@use '../../../../styles' as g;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .stats {
    display: flex;
    gap: 1rem;
    margin-bottom: 12px;

    .stat-card {
      display: flex;
      // width: 266px;
      flex: 1;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 26px;
      flex-shrink: 0;

      border-radius: 8px;
      background: var(--White, #fff);

      /* Shadow 1 */
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);

      .label {
        color: var(--Text-Colour-1, #111827);

        /* Body M */
        font-family: 'Helvetica Neue';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
      }

      .value {
        color: var(--Primary, #0d66ab);
        text-align: center;

        /* Numbers */
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
      }

      &.on-track .value {
        color: var(--Status-Success, #22c55e);
      }
      &.at-risk .value {
        color: var(--Status-Warning-2, #ff5733);
      }
      &.delayed .value {
        color: var(--Status-Critical, #ef4444);
      }
    }
  }

  .filters,
  .sort-by {
    display: flex;
    align-items: center;
    gap: 8px;

    > span {
      color: var(--Text-Colour-1, #111827);
      white-space: nowrap;

      /* Header 3 */
      font-family: 'FS Elliot Pro';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    > div {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 32px;
      flex-wrap: wrap;
      label {
        display: flex;
        font-size: 0.85rem;
        align-items: center;
        gap: 1rem;

        select {
          margin-top: 0.25rem;
          padding: 0.4rem 0.5rem;
          border-radius: 0.35rem;
          border: 1px solid #e6e9ee;
          background: white;
        }
      }
    }

    .filter-actions {
      display: flex;
      gap: 0.5rem;
      margin-left: 0.5rem;

      .link {
        color: var(--Text-Colour-1, #111827);

        /* Body S */
        font-family: 'Helvetica Neue';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        border: none;
        background-color: transparent;

        &.danger {
          color: var(--Status-Critical, #ef4444);
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .input-box {
      margin-left: auto;
    }

    .toggle-group {
      margin-left: auto;
    }
  }

  .projects-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
