@use '../../../../../styles' as g;

.search {
  display: flex;
  min-width: 200px;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid var(--Divider, #e5e7eb);
  background: var(--White, #fff);

  svg {
    height: 24px;
    fill: var(--Text-Colour-2, #6b7280);
  }

  &:focus-within {
    border-color: g.$primary-color;
  }

  input {
    height: 100%;
    color: var(--Text-Colour-2, #6b7280);
    /* Body S Italic */
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    background-color: transparent;
  }
}
