.chart-container {
  min-height: 280px;
  display: flex;
  gap: 24px;

  .canvas-container {
    flex: 1;
  }

  .comment-box {
    font-size: 13px;
    color: #374151;
    line-height: 1.6;
    margin-top: auto;
    max-width: 200px;

    h4 {
      color: var(--Text-Colour-1, #111827);

      /* Header 4 */
      font-size: 14px;
      margin-bottom: 0.5em;
    }

    p {
      color: var(--Text-Colour-1, #111827);
      font-size: 12px;
      margin: 0;
    }
  }
}
