@use '../../../styles' as g;
.dashboard-layout{
    display: grid;
    grid-template-columns: min-content 1fr;
    min-height: 100vh;

    :last-child{
        padding: 28px 32px;
        background-color: g.$background-color;
    }

    :first-child{
        position: sticky;
        top: 0;
    }
}


