.chart-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding: 16px 20px;
  gap: 1rem;

  .inner {
    display: flex;
    flex-direction: column;

    .title {
      color: var(--Text-Colour-1, #111827);

      /* Header 5 */
      font-family: 'FS Elliot Pro';
      font-size: 14px;
      font-weight: 700;

      text-transform: uppercase;
    }

    .chart-container {
      margin-top: 24px;
      flex: 1;
      min-height: 280px;
    }

  }

  .custom-legend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
    flex-wrap: wrap;

    .legend-item {
      color: var(--Text-Colour-1, #111827);
      display: flex;
      align-items: center;
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 13px;
      color: #374151;

      .legend-box {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        display: inline-block;

        /* 🟦 Diagonal blue pattern */
        &.blue-pattern {
          background: repeating-linear-gradient(-45deg, #0f3b6d 0 50%, #60a5fa 50% 100%);
        }

        /* 🟧 Diagonal orange/yellow pattern */
        &.orange-pattern {
          background: #9a3412;
        }



      }
    }
  }
}
