@use '../../../../styles' as g;

.bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: g.$primary-color;
      margin: 0;
      font-size: 20px;
    }

    .top-actions {
      display: flex;
      gap: 0.5rem;
    }
  }

  .bottom-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 12px;
    position: relative;

    a {
      margin-left: -6px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--Text-Colour-1, #111827);
      font-size: 14px;
      line-height: 1em;

      svg {
        fill: var(--Text-Colour-1, #111827);
      }

      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      border: none;
      margin: 0;
      border-bottom: 1px solid var(--Divider, #e5e7eb);
      position: absolute;
      bottom: 0;
      left: -32px;
      right: -32px;
    }
  }
}
