@use '../../../../../styles' as g;

:host {
  button {
    all: unset;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  .checkbox-button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    //   &:hover {
    //     background-color: var(--violet-3);
    //   }

    // &[data-state='checked'] .checkbox-indicator-default{
    //   display: none;
    // }

    > .checkbox-indicator,
    > .checkbox-indicator-default {
      align-items: center;
      display: flex;
      color: g.$text-color-1-color;

      svg {
        width: 24px;
        height: auto;
        margin-top: 2px;
        fill: g.$text-color-1-color;
      }
    }

    &[data-state='unchecked'] > .checkbox-indicator {
      display: none;
    }

    &[data-state='checked'] > .checkbox-indicator-default {
      display: none;
    }

    .checkbox-container {
    }
  }

  .label {
    color: g.$text-color-1-color;
    font-size: 16px;
  }
}
