/* You can add global styles to this file, and also import other style files */
/* Styles */

@font-face {
  font-family: 'FS Elliot Pro';
  src: url('assets/fonts/fs-elliot-pro/FS-Elliot-ProRegular.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/fonts/Helvetica-Neue/HelveticaNeue-Medium.otf');
  font-weight: normal;
  font-style: normal;
}





$white-background: #ffffff;
$white-color: #ffffff;
$background-background: #f7f7f7;
$background-color: #f7f7f7;
$divider-background: #e5e7eb;
$divider-color: #e5e7eb;
$text-color-1-background: #111827;
$text-color-1-color: #111827;
$text-color-2-background: #6b7280;
$text-color-2-color: #6b7280;
$primary-background: #0d66ab;
$primary-color: #0d66ab;
$primary-light-background: #4c8dc5;
$primary-light-color: #4c8dc5;
$primary-dark-background: #08436f;
$primary-dark-color: #08436f;
$accent-background: #b45309;
$accent-color: #b45309;
$background-gradient-background: linear-gradient(180deg, #f7f7f7 0%, #fafafa 100%);
$background-gradient-color: #f7f7f7;
$text-disabled-background: #a3a3a3;
$text-disabled-color: #a3a3a3;
$disabled-background: #e5e5e5;
$disabled-color: #e5e5e5;
$gradient-1-background: linear-gradient(180deg, #b453097f 0%, #c89d7d3f 50%, #b4530900 100%);
$gradient-1-color: #b453097f;
$gradient-2-background: linear-gradient(180deg, #3b82f600 0%, #3b82f63f 50%, #3b82f67f 100%);
$gradient-2-color: #3b82f600;
$gradient-3-background: linear-gradient(180deg, #e60b0900 0%, #e60b093f 50%, #e60b097f 100%);
$gradient-3-color: #e60b0900;
$status-success-background: #22c55e;
$status-success-color: #22c55e;
$status-warning-background: #facc15;
$status-warning-color: #facc15;
$status-critical-background: #ef4444;
$status-critical-color: #ef4444;
$status-info-background: #3b82f6;
$status-info-color: #3b82f6;
$status-warning-2-background: #ff5733;
$status-warning-2-color: #ff5733;
@mixin header-1-text {
  font-family: FS Elliot Pro;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin header-2-text {
  font-family: FS Elliot Pro;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin header-3-text {
  font-family: FS Elliot Pro;
  font-style: Bold;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin header-4-text {
  font-family: FS Elliot Pro;
  font-style: Bold;
  font-size: 12px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin header-5-text {
  font-family: FS Elliot Pro;
  font-style: Bold;
  font-size: 13px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: uppercase;
}
@mixin body-l-text {
  font-family: FS Elliot Pro;
  font-style: Regular;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin body-m-text {
  font-family: Helvetica Neue;
  font-style: Regular;
  font-size: 13px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin body-s-text {
  font-family: Helvetica Neue;
  font-style: Regular;
  font-size: 11px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin body-s-italic-text {
  font-family: Helvetica Neue;
  font-style: Italic;
  font-size: 11px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin numbers-text {
  font-family: Inter;
  font-style: Bold;
  font-size: 32px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
$shadow-1-text-shadow: 0px 2px 6px #0000000c;
$shadow-1-box-shadow: 0px 2px 6px 0px #0000000c;
$shadow-2-text-shadow: 0px 4px 12px #00000014;
$shadow-2-box-shadow: 0px 4px 12px 0px #00000014;

* {
  box-sizing: border-box;
  // font-family: 'Roboto';
  // letter-spacing: 1px;

}

body {
  margin: 0;
  
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
