.chart-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding: 16px 20px;
  gap: 1rem;
  height: 100%;

  // chart colors
  $dark-blue-color: #0f3b6d;
  $light-blue-color: #60a5fa;
  $brown-color: #9a3412;
  $yellow-color: #facc15;
  $pink-color: rgba(255, 182, 193, 0.8);

  .title {
    color: var(--Text-Colour-1, #111827);

    /* Header 5 */
    font-family: 'FS Elliot Pro';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .inner {
    flex: 1;
  }

  .custom-legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
    flex-wrap: wrap;

    .legend-item {
      color: var(--Text-Colour-1, #111827);
      display: flex;
      align-items: center;
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 13px;
      color: #374151;

      .legend-box {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        display: inline-block;

        /* 🟦 Diagonal blue pattern */
        &.light-dark-blue-pattern {
          background: repeating-linear-gradient(
            -45deg,
            $dark-blue-color 0 50%,
            $light-blue-color 50% 100%
          );
        }

        &.dark-light-blue-pattern {
          background: repeating-linear-gradient(
            -45deg,
            $light-blue-color 0 50%,
            $dark-blue-color 50% 100%
          );
        }

        &.dark-blue-pattern {
          background: $dark-blue-color;
        }

        &.light-blue-pattern {
          background: $light-blue-color;
        }

        /* 🟧 Diagonal orange/yellow pattern */
        &.yellow-brown-pattern {
          background: repeating-linear-gradient(-45deg, $brown-color 0 50%, $yellow-color 50% 100%);
        }

        &.brown-yellow-pattern {
          background: repeating-linear-gradient(-45deg, $yellow-color 0 50%, $brown-color 50% 100%);
        }

        &.brown-pattern {
          background: $brown-color;
        }

        /* 🩷 Pink gradient for Shortfall */
        &.pink-pattern {
          background: linear-gradient(to bottom, $pink-color, rgba(255, 182, 193, 0.2));
        }
      }
    }
  }
}
