.board {
  overflow-x: auto;
  width: calc(100%);

  > div {
    display: grid;
    gap: 24px;
    grid-template-columns: 380px 380px 380px 380px;

    .kanban-column {
      width: 380px;

      .header {
        display: flex;
        height: 40px;
        padding: 12px 16px;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        border-radius: 8px 8px 0 0;
        border-bottom: 1px solid var(--White, #fff);
        background: var(--Divider, #e5e7eb);

        .title {
          color: var(--Text-Colour-1, #111827);

          /* Header 5 */
          font-family: 'FS Elliot Pro';
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;

          &.danger {
            color: var(--Status-Critical, #EF4444);
          }
        }

        .count {
          color: var(--Primary, #0d66ab);

          /* Header 5 */
          font-family: 'FS Elliot Pro';
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;

          &.danger {
            color: var(--Status-Critical, #EF4444);
          }
        }
      }

      .container {
        display: flex;
        padding: 16px;
        flex-direction: column;
        gap: 8px;
        align-self: stretch;
        background: var(--Divider, #e5e7eb);
        width: 100%;
      }
    }
  }
}
